{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-around mt-3">
            <div class="col-sm-3 p-0 mb-2">


                <!-- amis connectés -->
                <div class="active-friends card bg-dark text-white text-center mt-2 mb-2">
                    <div class="card-header">
                        <h5 class="card-title mb-0">En Ligne</h5>
                    </div>
                    <div class="card-body bg-light text-dark m-2">
                        <div class="py-2 font-weight-bold violet">Arnaud Escalier</div>
                        <div class="py-2 font-weight-bold violet">Anastasia Nikova</div>
                        <div class="py-2 font-weight-bold violet">Laura Gilbert</div>
                        <div class="py-2 font-weight-bold violet">Florent Artois</div>  
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-7 bg-dark p-0">
                
                    <section>
                        <div class="card bg-dark text-white text-center">
                            <div class="card-header">
                                <h5 class="card-title mb-0">WALL OF DEATH</h5>
                            </div>
                            <div class="post-area card-body bg-light text-dark m-2">

                                <form id="svg_f1" method="post" action="/addPost" enctype="multipart/form-data">
                                    <div id="cont2" style="width:100%;height:70%;">
                                    <div id="dash2" style="margin:5px;height:80%;overflow:hidden;background-color: white">
                                    <div class="form-group pb-3 border-bottom">
                                        <textarea class="form-control" name="post" id="post2" rows="4"
                                            placeholder="Quoi de neuf ?" maxlength="150" required wrap sentences></textarea>
                                        <p id="text"></p>
                                        <div class="col-md-12" style="background-color:#7D14A9; height: 40px; border-radius: .25rem;">
                                        <p class="text-white pt-2 pb-2" style="position: absolute; text-align: center;">Glisser vos fichiers ici</p>
                                        <input type="file" id="attachement2" name="attachement" id="file" style="opacity:0;position:relative;height:100%;z-index:1" />
                                        <div id="te2"></div>
                                                        <div id="tt2"></div>
                                    </div>
                                </form>
                                <input class="btn btn-dark btn-sm mt-2 d-block mx-auto envoyer-btn" type="submit"
                                            value="Envoyez">
                                <!-- section pour envoyer des photos, etc -->


                            </div>
                            <div class="card-body bg-light text-dark p-0">
                                
                                <!-- Posts du profil -->
                                {% for poste in posts %}
                                    <div class="card-body bg-light text-dark p-0 m-1">
                                        
                                        <section>
                                            <div class="post">
                                                <div class="info">
                                               
                                                    <img src="{{ poste.authorAvatar}}" class="imgProfil d-block float-left ">
                                                    <a href="/profil/{{ poste['authorId']}}" class="float-left pl-2 mt-3 mb-3" style="color:#7d14a9;font-weight:bold;">{{ poste["author"] }}</a>
                                                    {% if poste['authorId'] == user['Id']%}
                                                        <a href="/DelPost/{{ poste['_id']}}/profil"><i class="fa fa-times float-left pl-2 mt-3 mb-3" aria-hidden="true"></i></a>
                                                    {% endif %}
                                                </div>
                                                <div class="contentPost">
                                                    <p>{{poste["content"]}}</p>
                                                    {% if poste['extension'] == 'Image' %}
                                                        <img {{ poste["cheminfichier"]}}" class="imgpost"> 
                                                    {% endif %}
                                                    {% if poste['link'] != 'https://undefined' %}
                                                        <iframe type="text/html" class ="video" name="link" style=" width:230px; height:180px;" src=" {{ poste["link"]}}" frameborder="0" allowfullscreen></iframe>
                                                    {% endif %} 
                                                </div>
                                                <div class="time text-muted text-right mb-2">
                                                    <small>le {{ poste["date"]}} à {{poste['hour']}} heures {{ poste['minutes']}}</small>
                                                </div>
                                                <div class="commentView">
                                                    {% for comment in poste['comments'] %}
                                                        <div class="com border mt-1">
                                                            <div class="info">
                                                                <img src="{{ comment.imgAuth}}" class="imgProfil mt-2 ml-2 d-block float-left">
                                                                <p class="float-left pl-2 mt-3 mb-3">{{ comment.author}}</p><br>
                                                                {% if comment.UserId == user['_id']%}
                                                                    <a href="/DelCom/{{ comment._id}}/{{ poste['_id']}}/profil"><i class="fa fa-times float-left pl-2 mt-3 mb-3" aria-hidden="true"></i></a>
                                                                {% endif %}
                                                            </div>
                                                            <div class="contentPost mb-2">
                                                                <p class="mt-2 mb-1 ml-2">{{comment["content"]}}</p>
                                                                {% if comment['extension']  %}
                                                                    <img src="{{ comment["cheminfichier"]}}" class="imgpost">                        
                                                                {% elseif comment['link'] %}
                                                                    <iframe type="text/html" class ="video" name="link" style=" width:230px; height:180px;" src=" {{ comment["link"]}}" frameborder="0" allowfullscreen></iframe>
                                                                {% endif %} 
                                                            </div>
                                                            <div class="commentTime text-right mr-1 mb-1">
                                                                <small>le {{ comment["date"]}} à {{comment['hour']}} heures {{ comment['minutes']}}</small>

                                                            </div>
                                                        </div>  
                                                    {% endfor %}
                                                </div>
                                                <form id="svg_f1" method="post" action="/addComment/{{poste['_id']}}" enctype="multipart/form-data" class="pb-2 border-bottom">
                                                    <div id="cont2" style="width:100%;height:70%;">
                                                        <div id="dash2" style="margin:5px;height:80%;overflow:hidden;background-color: white">
                                                            <textarea name="post"  class="form-control" id="post2" placeholder="commentaire" rows="4" maxlength="150" required wrap sentences></textarea>
                                                            <p id="text"></p>
                                                            <div class="col-md-12" style="background-color:#7D14A9; height: 40px; border-radius: .25rem;">
                                                            <p class="text-white pt-2 pb-2" style="position: absolute; text-align: center;">Glisser vos fichiers ici</p>
                                                            <input type="file" id="attachement2" name="attachement2" id="file" style="opacity:0;position:relative;height:100%;z-index:1" class="mt-0"/>
                                                            </div>
                                                            <div id="te2"></div>
                                                            <div id="tt2"></div>
                                                            <input class="btn btn-dark btn-sm mt-2 d-block mx-auto envoyer-btn" type="submit"
                                                    value="Commentez">
                                                        </div>
                                                    </div>
                                                    
                                                </form>
                                            </div>
                                        </section>
                                    </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </section>
                
            </div>
        </div>
    </div>
{% endblock %}